{
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "endOfLine": "lf",

  "singleQuote": true,
  "jsxSingleQuote": false,

  "trailingComma": "es5",
  "quoteProps": "as-needed",

  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,

  "overrides": [
    {
      "files": "*.java",
      "excludeFiles": [],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
